/*
* 3. Spaces
*/
.mod-mb-lg {
  margin-bottom: 80px;
  @include sm {
    margin-bottom: 40px;
  }
}

.mod-mb-sm {
  margin-bottom: 32px;
  @include sm {
    margin-bottom: 24px;
  }
}

.mod-mb-xs {
  margin-bottom: 16px;
  @include sm {
    margin-bottom: 12px;
  }
}

.mod-mb-xxs {
  margin-bottom: 12px;
}

@for $i from 1 to 8 {
  .mod-mb-#{$i} {
    margin-bottom: #{$i}em;
    @include xs {
      margin-bottom: #{$i/1.5}em;
    }
  }

  .mod-mt-#{$i} {
    margin-top: #{$i}em;
  }

  .mod-mr-#{$i} {
    margin-bottom: #{$i}em;
  }
}

@for $i from 1 to 8 {
  .mod-pl-#{$i} {
    padding-left: #{$i}em;
    @include xs {
      padding-left: #{$i/1.5}em;
    }
  }
}

.u-xs-up {
  @include xs {
    display: none;
  }
}

.u-only-sm {
  @include smUp {
    display: none;
  }
}

.sm-hide {
  @include sm {
    display: none;
  }
}

.sm-show {
  @include smUp {
    display: none;
  }
}
