{% extends '@templates/layouts/default.twig' %}

  {% block content %}
{#    {% include '@templates/layouts/header/_header.twig' %}#}

    <main class="page">

    </main>

{#    {% include '@layouts/footer/_footer.twig' %}#}
  {% endblock %}
