$white: #ffffff;
$black: #000000;

$green: #71C641;

$darker-orange: #d78a17;
$orange: #E5A038;
$lighter-orange: #eeab47;
$yellow: #ECC947;

$lighter-blue: #1382cb;
$blue: #0070BA;
$dark-blue: #0067AB;
$darker-blue: #005c99;
$dark-medium-blue: #005f9e;
$hard-blue: #121323;

$dark-gray: #333333;
$darker-gray: #858691;
$light-grey: #B3B3B3;
$gray: #DBDBDB;
$lighter-grey: #e9e9e9;
$high-light-grey: #FAFAFA;

$gray93: #939393;


$input-border: rgba(247, 247, 247, 0.2);

